/Code - Insiders
/MuseScore
/OpenTabletDriver
/dconf
/discord
/github-copilot
/neofetch
/pavucontrol.ini
/procps
/pulse
/rog
/spacefm
/spotify
/superProductivity
/tofi
/user-dirs.dirs
/user-dirs.locale
/xfce4
/xournalpp
/yay